
body {
	background-image: url("cool-background (1).png");
	background-position: center;
	background-size: cover;
}

/*p {*/
/*	margin-top: 30px;*/
/*	margin-bottom: 30px;*/
/*	margin-left: 30px;*/
/*	margin-right: 30px;*/
/*}*/

.center {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: large;
}

.about {
	text-align: center;
	align-content: center;
}

p {
	font-family: Georgia;
}

li {
	font-family: Georgia;
}

h3 {
	font-family: Georgia;
}

/*img {*/
/*	height: auto;*/
/*	display: block;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	vertical-align: middle;*/
/*}*/