
body {
	background-image: url("cool-background (1).png");
	background-position: center;
	background-size: cover;
}

/*p {*/
/*	margin-top: 30px;*/
/*	margin-bottom: 30px;*/
/*	margin-left: 30px;*/
/*	margin-right: 30px;*/
/*}*/

.center {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: large;
}

.about {
	text-align: center;
	align-content: center;
}

p {
	font-family: Bookman;
	font-size: x-large;
}

li {
	font-family: Bookman;
	font-size: x-large;
}

h3 {
	font-family: Bookman;
	font-size: xx-large;
	font-weight: bold;
}

/*img[src="profile pic.jpg"] {*/
/*	height: 200vm;*/
/*	width: 200vm;*/
/*	align-content: center;*/
/*}*/
